<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Nuffin with Hanka</title>
    </head>
<body>
    <center><naw><h1>Nuffin with Hanka</h1></center>
        <ul>  
            <li>  
            <a href="#"> Home </a>  
            </li>  
            <li>  
            <a href="#"> About </a>  
            </li>  
            <li>  
            <a href="#"> Contact </a>  
            </li>  
            <li> <a href="#"> Terms of use </a>  
            </li>  
            <li>  
            <a href="#"> Shop </a>  
            </li>  
            </ul> 
    </naw>
    <center><img
    src ="https://scontent.fpoz5-1.fna.fbcdn.net/v/t39.30808-6/300373428_509263964533835_5588509569608933724_n.jpg?_nc_cat=110&ccb=1-7&_nc_sid=5f2048&_nc_ohc=MkD7klTka5YAX-QdSBU&_nc_ht=scontent.fpoz5-1.fna&oh=00_AfA_g_wUwNQbwPrzTAxhtA6trBQaq6yIsO8CYTQOpOfLsg&oe=653A7D54"
    alt="Hanka and lavender" 
        width="300"
        height="300"/>
    </center>
    <center><p><a href=https://www.facebook.com/profile.php?id=100063507072700 title=The Hanka homepage><h5>NWH</h5></a></p></center>
    <p>Hello, my name is Hanka</p><p>I am a dog. The breed of dog is the German Shorthaired Pointer.</p>
    <h3>About work</h3>  
      <p>I am a writer and artist, I have several published books and several guest appearances in amateur films. </p>  
     <h3>About hobby</h3>  
      <p>Hobby hobby hobby</p>  
      <p>yeah yeah yeah   
                </p>  
</body>
</html>
