<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Nuffin with Hanka</title>
    </head>
<body>
    <center><naw><h1>Nuffin with Hanka</h1></center>
        <ul>  
            <li><a href="/home"> Home </a></li>  
            <li><a href="/about"> About </a></li>  
            <li><a href="/contact"> Contact </a></li>  
            <li> <a href="/terms"> Terms of use </a></li>  
            <li><a href="/shop"> Shop </a></li>  
        </ul>
    </naw>
    {% block content %}
    {%endblock%}
</body>
</html>
