{% extends "base.html" %}
{% block content %}
<!DOCTYPE html>
<html>
<head>
<style>
#div1 {
    border: 1px solid black;
    background: url('/static/piesek.jpg');
    background-size: 240px 180px;
    background-repeat: no-repeat;
    padding: 20px;
    background-position: bottom right;
  }
</style>
</head>
<body>
    <div id="div1">
    <h2>Something about my film</h2>
    <p>My new film will be made in 2024. It will be about my travels and world exhibitions.<p>As you know, I am a purebred dog and I have already visited many exhibitions. I am very excited about this new chapter in my life.</p>
    </div>
</body>
</html>
{%endblock%}